
#header_nav{
	background-image: url('img1.jpg');
	height: 150px;
	width: 100%;
	background-size: 100% 100%;
	position: fixed;
}

.titleText{
	color: white;
	/*padding: 10px;
	*/font-size: 70px;
}

.content{
	height: 1200px;
	background-color: grey;
}