
input[type='radio']{
    vertical-align: top;
}
iframe{
    margin: 25px 25px;
    vertical-align: top;
}
iframe.horizontal{
    width: 402px;
    height: 202px;
}
iframe.vertical{
    height: 400px;
    width: 250px;
}